{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}

<!-- 
<video
    src="https://d-id-talks-prod.s3.us-west-2.amazonaws.com/google-oauth2%7C101776856581050045907/tlk_TD2rbk9M91wTThwfxdAv7/noelle.mp4?AWSAccessKeyId=AKIA5CUMPJBIK65W6FGA&Expires=1681731859&Signature=PdvZMPLelOGZWaAS1mXbEhmP0Vg%3D"
    autoplay></video>
>-->


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}